name: Run tests

on:
  push:
    branches: ["main"]

  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Choose yarn
        run: |
          corepack enable
          yarn set version 3.4.1
      - name: Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
          cache: "yarn"
      - run: yarn ci
      - run: yarn run test
